*,
*::before,
*::after {
    box-sizing: inherit;
  }
html {
    font-size: 16px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: Arial, serif;
    font-size: 16px;
}
.wrapper{
    position: relative;
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
}
ul, li {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.header {
    display: flex;
    align-items: baseline;
    color: #c9a920;
    background-color: #0b3b54;
    height: 80px;
    line-height: 84px;
}
.header__logo{
    margin: 0 24px;
    min-width: 115px;
    font-size: 24px;
    font-weight: 700;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__link{
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    margin-right: 18px;
    color: #c9a920;
    text-transform: capitalize;
}
.mainpage {
    background-color: #f5f5f5;
}
.title{
    font-size: 18px;
    line-height: 70px;
    margin-left: 24px;
}
.pagecontent{
    display: flex;
    padding-bottom: 30px;
}
.pagecontent__img{
    height: 270px;
    width: 340px;
    margin-left: 24px;
    margin-right: 12px;
}
.pagecontent__img-pic {
    width: 340px;
}
.maincontent__text {
    margin-right: 24px;
}
.form {
    border: 1px solid black;
    padding-top: 25px;
    float: right;
    height: 150px;
    width: 198px;
    padding-left: 12px;
}
.form__title{
    margin-bottom: 12px;
}
.form__row{
    margin-bottom: 10px;
}
.form__input {
    width: 170px;
}